# Python
*.pyc
*.pyo
*.pyd
__pycache__/
cnncls/

# Ignore all files in artifacts folder
artifacts/*

# Ignore logs except .gitkeep (if used)
logs/*.log 

# Environment files
*.env

# TensorFlow and PyTorch model checkpoints (global ignore)
*.ckpt

# MLflow tracking artifacts
mlruns/

# Default: ignore .h5 and .pkl files everywhere
*.h5
*.pkl

# ✅ EXCEPTIONS: allow versioned model files in the model/ folder (for Git LFS)
!model/*.h5
!model/*.pkl
